.main {
  background-color: #11191d;
  padding: 50px 0;
}

.nosotrosSection {
  width: 100%;
}

.fondoNosotros {
  background-image: url('/public/imagenes/imagen5.jpg');
  border-radius: 20px;
  margin: 0 auto;
  width: 50%;
  padding: 100px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.cajaNosotros {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  max-width: 500px;
  padding: 30px;
  border-left: 5px solid #f49b42;
  border-radius: 10px;
}

.cajaNosotros h2 {
  margin-bottom: 15px;
  font-size: 22px;
}

.cajaNosotros p {
  font-size: 16px;
  line-height: 1.6;
}